@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
}

.between-flex {
    justify-content: space-between;
}


/* header */
header {margin-bottom: 70px;}

li a {
    text-decoration: none;
    color: #000000;
}

li {margin-right: 5vh;}

.menu { 
    width: 101%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.menù-right, .menù-left {
    margin: 20px;
}

ul {list-style: none;}

.button1 a {
    padding: 5px 10px;
    background-color: #2c6eb4;
    color: #ffffff;
}

/* main */
.back-color1{
    background-color: #b4d0e7;
}