@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
}

.between-flex {
    justify-content: space-between;
}



/* header */
header {margin-bottom: 70px;}

.button a , header a {
    text-decoration: none;
    color: #000000;
}


li {margin-right: 5vh;}

.menu { 
    width: 101%;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: #ffffff;
}

.menù-right, .menù-left {
    margin: 20px;
}

ul {list-style: none;}

.button a {
    padding: 10px 15px;
    background-color: #0061ff;
    color: #ffffff;
}

.border-down:hover {
    border-bottom: 2px solid #000000;
    padding: 29px 0;
}

.menu .menù-left ul li img {
    cursor: pointer;
}

/* main */

/* first section */
.back-section1{
    background-color: #b4d0e7;
    height: 40vw;
    margin-bottom: 140px;

}

.free-trial {
    margin: 0 auto;
    width: 70%;
}

h1 {
    font-size: 80px;
    padding-top: 60px;
}

.text1 {
    width: 60%;
    margin-top: 50px;
}


.img-sec1 img{
    width: 100%;
    position: relative;
    top: 50px;
    left: 0;
}

.text1 div {
    margin-top: 40px;
}

.arrow1 {
    font-size: 50px;
    margin-top: 100px;
    color: #000000;
}

/* second section */
.container-2section {
    width: 60%;
    margin: 0 auto;
}

h2 {
    font-size: 40px;
}

.box {
    margin: 70px 60px 40px 0;
}

.checkbox1 {
    width: 20px;
    height: 20px;
    border: 2px solid #afafaf;
    border-radius: 100%;
    margin-right: 5px;
}
.box:hover .checkbox1{
    border: 5px solid #478fdd;
}

.checkbox2 {
    width: 20px;
    height: 20px;
    border: 2px solid #afafaf;
    border-radius: 100%;
    margin-right: 5px;
}


/* offerte */
.divided {
    width: calc(100% / 3 - 30px);
}
.border-offert {
    border: 1px solid #afafaf;
}

.target {
    text-align: center;
    border-bottom: 1px solid #afafaf;
}

.border-offert h3 {
    margin-bottom: 20px;
}

.details-offert {
    margin: 30px;
}

.price {
    margin-bottom: 40px;
}

.space li {
    position: relative;
    left: 0px;
    padding-left: 20px;
    margin-bottom: 30px;
}

.space i {
    position: absolute;
    top: 2px;
    margin-left: -20px;
}

.button-trial {
    padding: 10px 15px;
    background-color: #0061ff;
    text-align: center;
    margin-bottom: 20px;
}

.button-trial a {
    color: #ffffff;
    text-decoration: none;
}

hr {
    width: 20%;
    margin: 30px 0;
}

.check1 i {
    color: #0061ff;
}

.check1{
    margin: 30px 0;
}


/* offerta orizzontale */
.horizontal {
    margin-top: 30px;
}
.all-support {
    margin: 30px;
}

.enterprice-h {
    margin: 20px;
}

.descr-h {
    margin-top: 50px;
}

.enterprice-h h3 {
    font-size: 25px;
}

.contact { 
    padding: 10px 15px;
    background-color: #0061ff;
    text-align: center;
    width: 40%;
    position: relative;
    left: 40vw;
    bottom: 15vh;
    
}
.contact a {
    color: #ffffff;
    text-decoration: none;
}




/* terza sezione */
.sec-partner {
    margin-top: 20vh;
}

.img-partner img {
    width: 100%;
}
.sec-partner .img-partner {
    width: 50%;
}

.text-partner {
    margin: 10vh;
    width: 30%;
}

.text-partner h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.text-partner p {
    margin-bottom: 40px;
}

.text-partner a {
    border: 1px solid black;
    color: #000000;
    background-color: #ffffff;
    padding: 10px 10px;
    text-decoration: none;
}


/* fourth section */
.business-flex {
    flex-wrap: wrap;
}

.business-flex h2 {
    margin-top: 20vh;
    margin-bottom: 10vh;
}

.info-business h3 {
    font-size: 22px;
    margin-bottom: 30px;
}

.info-business p {
    margin: 0 20px 30px 0;
}

.img-business img {
    width: 80%;
}


/* fifth section */
.team-business {
    margin-top: 20vh;
}

.team-business h2 { 
    width: 60%;
    margin-bottom: 30px;
}

.team-business a {
    margin-bottom: 50px;
}

/* brand */
.brand {
    margin-top: 20vh;
}

.brand img {
    width: 100%;
}

.brand-left {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    width: 50%;
    height: 50%;
}

.logo img{
    position: relative;
    top: 50%;
    left: 50%;
    filter: invert(1);
    transform: translate(-50% , -50%);
}


.designit-logo {
    background-color: #a2d39b;
    border: 15px solid #d1e9cd;
    padding: 90px;
}

.arizona-logo {
    background-color: #61082b;
    padding: 100px;
}

.florida-logo {
    background-color: #0093ce;
    padding: 80px;
}

.topps-logo {
    background-color: #ff1c1c;
    padding: 80px;
}

.worldbicycle-logo {
    background-color: #d5001f;
    padding: 80px;
}

.hearst-logo {
    background-color: #b4d0e7;
    padding: 80px;
}

.lonely-logo {
    background-color: #0d2481;
    padding: 80px;
}

.clear-logo {
    background-color: #ffd830;
    padding: 80px;
}



.brand-descr {
    background-color: #f5f5f5;
}

.brand-descr img {
    width: 50%;
    margin: 40px 0 10px 40px;
}

.brand-descr p {
    margin: 40px;
}

.brand-descr hr {
    width: 20%;
    margin-left: 40px;
}

/* sixth section */
.sub-section {
    background-color: #b4d0e7;
    padding: 15vh 0 15vh 0;
}

.button-subsec {
    width: 60%;
    padding: 20px 80px;
}

.button-subsec a {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 40px;
    text-decoration: none;
}

/* seventh section */
.sec7 h2 {
    margin: 15vh 0 10vh 0;
}

.sec7 hr {
    width: 100%;
}

.quest p{
    display: none;
    margin: 30px 0 30px 0;
}

.arrow-up {
    display: none;
}

.quest:hover p {
    display: block;
}

.quest:hover .arrow-up {
    display: block;
}

.quest:hover .arrow-down {
    display: none;
}


/* footer */
footer {
    background-color: #000000;
    color: #ffffff;
}

.cont-foot {
    width: 70%;
    margin: 0px auto;
    padding: 70px 20px;
}

.information a {
    text-decoration: none;
    color: #ffffff;
}

.cont-foot hr {
    width: 10%;
    margin: 17vh 0 5vh 0;
}

/* information */
.information h3 {
    margin: 20px 0 30px 0;
    font-size: 25px;
}

.information li {
    margin-bottom: 10px;
}

/* country */
.country {
    color: #999999;
}

.country .earth-country {
    margin-right: 5px;
}

.country span {
    position: relative;
    top: 5px;
    left: 5px;
}
